@import "tailwindcss";

/* Light Mode Device Display Setting */
:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
}

/* Dark Mode Device Display Setting */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #949494;
  }
}

nav {
  font-size: 25px;
  outline: 5px solid var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
